* {
    padding: 0;
    margin: 0;
};

body {
    
};
/* ........................... Main Section Css ............................. */
#mainSection {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#mainSection > .mainContainer {
    display: flex;
    width: 95%;
    min-height: 95vh;
    margin: 1rem auto;
    background-color: gray;
    border-radius: 1.5rem;
}
/* ........................... Side BAr Section Css ............................. */
 #mainSection > .mainContainer > .sideBar {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mainSection > .mainContainer > .sideBar > .sideBarIcon {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

#mainSection > .mainContainer > .sideBar > .sideBarIcon:first-child {
    background-color: #fff;
    color: rgb(82, 79, 79);
}

#mainSection > .mainContainer > .sideBar > .sideBarIcon > .fa-home {
    color: #fff;
}

#mainSection > .mainContainer > .sideBar > .sideBarIcon > .fa-heart {
    color: rgb(232, 230, 230);
}

#mainSection > .mainContainer > .sideBar > .sideBarIcon > .fa-compact-disc {
    color: rgb(74, 72, 72);
}

/* ........................... Station Section Css ............................. */
 #mainSection > .mainContainer > .stationContainer {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 1rem;
   
}

#mainSection > .mainContainer > .stationContainer > form {
    width: 100%;
    position: relative;
}

#mainSection > .mainContainer > .stationContainer > form > .search {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.75rem;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 1.1rem;
}

#mainSection > .mainContainer > .stationContainer > form > .search::placeholder {
    color: rgb(247, 241, 241);
    margin-left: 1rem;
    opacity: 0.8;
    font-size: 0.8rem;
}
#mainSection > .mainContainer > .stationContainer > form > .submit {
    border: none;
    background-color: transparent;
    color: rgb(247, 241, 241);
    font-size: 1.4rem;
    position: absolute;
    top: 25%;
    right: 2%;
    cursor: pointer;
}
/* ........................... Category Section Css ............................. */
 #mainSection > .mainContainer > .category {
    flex: 2;
    
}
