:root{
    --clr-pry:#484848;
    --clr-accent:rgb(220, 217, 217);
    --clr-white:#fff;
   

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--clr-white);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
};
/* ........................... Main Section Css ............................. */
#mainSection {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#mainSection > .mainContainer {
    display: flex;
    width: 95%;
    min-height: 95vh;
    margin: 1rem auto;
    background-color: var(--clr-pry);
    border-radius: 1.5rem;
}
/* ........................... Side BAr Section Css ............................. */
.sideBar {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sideBar__icon {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.sideBar__icon.logo {
    background-color: var(--clr-white);
    color: var(--clr-pry);
}


.sideBar__icon {
    color: var(--clr-accent);
}
/*except first child*/
.sideBar__icon:nth-child(n+2):hover, .sideBar__icon:nth-child(n+2):focus{
    color: var(--clr-white);
    transform: scale(1.1);
}

/* ........................... Station Section Css ............................. */
.stationContainer {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 1rem;
   
}
/* ............................ Form ............................................. */
#search-form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-form > .search {
    width: 100%;
    border: 1px solid var(--clr-white);
    border-radius: 1rem;
    padding: 0.75rem;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    font-size: 1.1rem;
    color: var(--clr-white);
}

#search-form > .search::placeholder {
    color: var(--clr-accent);
    opacity: 0.8;
    font-size: 0.8rem;
}
#search-form > .submit {
    border: none;
    background-color: transparent;
    color: var(--clr-white);
    font-size: 1.4rem;
    position: absolute;
    right: 2%;
    cursor: pointer;
    color: var(--clr-accent);
}
#search-form > .submit i:hover, #search-form > .submit i:focus{
    color: var(--clr-white);
    transform: scale(1.1);
}

/* ............................ Station Info Section ............................................. */
.stationInfo {
    margin-top: 2rem;
   
    
}

.stationInfo > .stationImg {
   max-width: 100%;
   border-radius: 1rem;
   object-fit: cover;
} 

.stationInfo > .stationTitle {
    margin-top: 1rem;
    font-weight: 400;
}

/* ............................ Radio Icons Section ............................................. */
.stationContainer > .radioButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.stationContainer > .radioButtons > .radioToggle {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0.9;
    width: 70%;
    color: var(--clr-accent);
}
.pause{
    font-size: 2.5rem;
}

.stationContainer > .radioButtons > .radioToggle:hover{
    opacity: 1;
    color: var(--clr-white);
    transition: all ease-in-out;
}

/* ........................... Category Section Css ............................................. */
.category {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 1rem;
    
}

.categoryContainer {
  margin-top: 5rem;
  width: 100%;
  background-color: #555555;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  
  
  
}
.category > .categoryContainer > .categoryTitle {
    font-weight: 400;
    margin: 0.4rem 0;
    font-size: 1.2rem;
}

.category > .categoryContainer > .categoryButtons {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;

    
}
.scrollX{
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*Add scroll bar in chrome*/
.scrollX::-webkit-scrollbar{
    display: none;
}


.category > .categoryContainer > .categoryButtons > button {
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.category > .categoryContainer > .categoryButtons > .podcast {
    background-color: #fff;
    color: rgb(85, 83, 83);
}

/* ........................... Category Wrapper Css ............................................. */
.category > .categoryContainer > .categoryWrapper {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    
   
    
}

.category > .categoryContainer > .categoryWrapper > .categoryCard {
    width: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.category > .categoryContainer > .categoryWrapper > .categoryCard > img {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.275rem;
    border-top-right-radius: 0.275rem;
    cursor: pointer;
}

.category > .categoryContainer > .categoryWrapper > .categoryCard > .radioTitle {
    font-weight: 400;
    font-size: 1rem;
    margin: unset;
    margin-top: 1rem;
    opacity: 0.9;
    cursor: pointer;
}

.category > .categoryContainer > .categoryWrapper > .categoryCard > .country {
    opacity: 0.8;
    font-size: 0.8rem;
}

/* ........................... Category Favorite Css ............................................. */
.category > .favoriteSection {
    margin-top: 1.5rem;
    width: 100%;
    background-color: #555555;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.category > .favoriteSection > .favoriteTitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.4rem 0;
}

.category > .favoriteSection > .favouriteCard {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    align-items: center;
}

.category > .favoriteSection > .favouriteCard > .favoriteWrapper {
    display: flex;
    
}

.category > .favoriteSection > .favouriteCard > .favoriteWrapper > img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.category > .favoriteSection > .favouriteCard > .favoriteWrapper > .favoriteInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category > .favoriteSection > .favouriteCard > .favoriteWrapper > .favoriteInfo > .favoriteInfoTitle {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}

.category > .favoriteSection > .favouriteCard > .favoriteWrapper > .favoriteInfo > .favoriteInfoCountry {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 0.7;
}
.category > .favoriteSection > .favouriteCard > .favouriteCardPlay {
    cursor: pointer;
}